
@{
    ViewBag.Title = "Index";
}

<h2>Survey Reponse Stats as of @DateTime.Now</h2>

    <h5>
        Surveys Sent = @ViewBag.Sent<br />

        Surveys answered = @ViewBag.Answered<br />

        Percent complete = @ViewBag.Percent %<br />
    </h5>