@model IEnumerable<Survey.Models.ANSWER_SCALE>

@{
    ViewBag.Title = "Answer Details";
}

<h2>Answer Details</h2>
<h3>This is just an example of a quick view for the answers, this view only displays what was answered for the Scale questions.</h3>

<table>
    <tr>
        <th>
            Answer ID
        </th>
        <th>
            Submitted Answer
        </th>
        <th>
            Survey Request Sent ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.answer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submitted_answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.survey_request_sent_id)
        </td>

    </tr>
}

</table>
