@model Survey.ViewModels.EmailStats

@{
    ViewBag.Title = "sendWelcome";
}

<h2>sendWelcome</h2>

<fieldset>
    <legend>EmailStats</legend>

    <div class="display-label">EmailCountSent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailCountSent)
    </div>

    <div class="display-label">NoEmailAdddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoEmailAdddress)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
