/* Layout: ~Views/UserMailer/_Layout.cshtml */

<html>
	<head>
		<style type="text\css">
			...
		</style>
	</head>
<body>
	<div class="banner"></div>
	<div class="mailBody">
		Hello Donna:<br/>
		@RenderBody()

		Thank you.
		--
		The Team!
	</div>
</body>
</html>

/* WecomeMessage: ~Views/Notifier/WelcomeMessage.cshtml */
Welcome to the Team Site. Please click the following link to complete your account signup! 

@*@Html.ActivationLink(user.ActivationUrl)*@