@model Survey.Models.MultipleChoiceItem

@{
    ViewBag.Title = "Details";
}

<fieldset>

    <div class="display-label font-weight:bold">Question Text</div>
    <div class="display-field">
        @Html.DisplayFor(Model => Model.Questiontext)
    </div>

    <br />
    <br />
    <br />

    @Html.Partial("_MultiAnswerQuestion");


</fieldset>
<p>
    @Html.ActionLink("Back to Question List", "Index")
</p>
