
@{
    ViewBag.Title = "Preview Email Content";
}

<h2>Preview Email Content</h2>
   
    <h2>Subject: </h2>@ViewBag.subjectline;
    <p></p>
    <h2>Greeting: </h2>@ViewBag.greeting;
    <p></p>
    <h2>Content: </h2> 
    @ViewBag.emailBody;


<p>@Html.ActionLink("Back to Send Survey", "Details", new { id = ViewBag.courseid })</p>
