@{
    ViewBag.Title = "Administrator Page";
}

<h3>Administrator</h3>

<input type="button" name="button" title="LoadMogoDB" value="Refresh Mongo DB" onclick="location.href='@Url.Action("LoadMongoDB", "Admin")'" />


