@model Survey.Models.ANSWER_SCALE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ANSWER_SCALE</legend>

    <div class="display-label">ANSWER</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ANSWER.answer_id)
    </div>

    <div class="display-label">submitted_answer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.submitted_answer)
    </div>

    <div class="display-label">survey_request_sent_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_request_sent_id)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
