@{
    ViewBag.Title = "Details";
}
<h2>Manual Response Entry:</h2>
@using (Html.BeginForm())
{
        <div class="editor-field">
            <label for="id">Select a survey:    </label> 
            @Html.DropDownList("survey_id", ViewBag.survey as SelectList, " ", new { rel = "0", @class = "required" }) 
        </div>
        <div> 
            <label for="id">Enter the course ID:</label> 
            <input type="text" name="course" /> 
        </div>
 }
@*     <input type="submit" name="submit" />*@ 
     <button type="button" onclick="window.open('http://reclink.raleighnc.gov/Survey/BuildTheSurvey.aspx/E2F5FFF85E4E4BFF7811626F93BD63548BAD560E')">Submit</button>
