@model Survey.ViewModels.EmailStats 

<h2>Emails Sent</h2>

<h5>Emails successfully sent out = @(Model.EmailCountSent) </h5>

<h5>Participates that does not have an email or the privacy flag is set = @(Model.NoEmailAdddress)</h5>

    <div>
        The participates that do not have an email address can be manually printed.
         
        Click the Print button to print these survey in a PDF format.



        <p></p>
        <input type="submit" name="button" value="Print Surveys" />
        <p></p>
    </div>
